
/*SLIDEEEEEEER*/
.container-slider {
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    width: 600%;
    height: 90vh;
    margin-left: -100%;
  }
  
  .slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  
  }

  .slider--section{
    width: 100%;
  }
  
  .slider__btn:hover {
    background: #fff;
  }
  
  .slider__btn--left {
    left: 10px;
  }
  
  .slider__btn--right {
    right: 10px;
  }
  

